body{
  background-color: whitesmoke;
  font-family: Arial;
}

#calendar-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  bottom: 55%;
  transform: translate(-50%, 50%);
  background-color: white;
  border-radius: 15px;
  width: 50%;
  height: 60%;
}

#dates-container{
  width: 85%;
  height: 75%;
}

#dates-table{
  width: 100%;
}